html {
    overflow-x: hidden;
}

.formCont {
    width: 80%;
    margin: 0% calc(80%/8);
    margin-top: 0;
    padding: 1.5em;
}

.row, .innerRow1 {
    display: block;
}

.NameCont+.NameCont, .queryBox+.queryBox{
    margin-left: 0;
    margin-top: 1em;
}

#success{
    width: 70%;
    margin: auto 15%;
}